@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import "./base/index";
// Vendor base and component style import

@import "./vendor/bootstrap-base";

@import "./vendor/bootstrap-components";

// Project Specific Components
@import "./component/index";

// Now other style import

@import "./layout/index";

@import "./utilities/index";
