// Resetting CSS
body {
  background-color: $light;
}
// li reset
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
// cursor pointer
a,
label,
.icon {
  cursor: pointer;
}
// user select disable
a,
.icon {
  user-select: none;
}
// anchor reset
a {
  text-decoration: none;
  color: $white;
}

// btn resets
.btn-outline-secondary {
  padding: 0.75rem 1.275rem;
}

// setting default heading
h1,
h2,
h3 {
  font-family: $font-family-cursive;
  font-size: $font-size-headings;
}

// default close button behavior
.close_button {
  transition: $primary-transition;
  &:hover {
    color: $danger;
  }
}
