// Resetting CSS
body {
  background-color: $light;
}
// li reset
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
// anchor reset
a {
  cursor: pointer;
  text-decoration: none;
  color: $white;
  user-select: none;
}
label {
  cursor: pointer;
}

// btn resets
.btn-outline-secondary {
  padding: 0.75rem 1.275rem;
}

h1,
h2,
h3 {
  font-family: $font-family-cursive;
  font-size: $font-size-headings;
}
.close_button {
  transition: all 0.35s ease-in-out;
  &:hover {
    color: $danger;
  }
}
