// Global styles goes here
html,
body {
  height: 100%;
  width: 100%;
}

#app {
  height: inherit;
}
.cp {
  cursor: pointer;
}
.theme-p {
  padding: 20px;
}

// error msg
.invalid-text {
  font-size: 12px;
}

.hero-para {
  font-family: $font-family-cursive;
}
