// Global styles goes here
html,
body {
  height: 100%;
  width: 100%;
}

#app {
  height: inherit;
}
.cp {
  cursor: pointer;
}
.icon {
  cursor: pointer;
}
.theme-p {
  padding: 20px;
}

// error msg
.invalid-text {
  font-size: 12px;
}

.hero-para {
  font-family: $font-family-cursive;
}

@media (max-width: 768px) {
  body {
    overflow: hidden;
  }
  .app_wrapper {
    overflow: auto;
  }
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  width: 5px;
  padding: 2px;
}
::-webkit-scrollbar-thumb {
  margin: 2px;
  background-color: #212529;
}
