// All the SCSS placeholders goes here
%bg-image-properties {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
%flex-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}
