// Breadcrumb styles goes here
.order_breadcrumb {
  a {
    color: $secondary;
    &:hover {
      color: $primary;
    }
  }
  .card_btn {
    transform: translateY(-20%);
  }
  .cart_item_count {
    font-size: 11px;
    padding: 3px;
    height: 20px;
    width: 20px;
    // top: -8px;
    // right: -8px;
    @extend %flex-middle;
    font-family: $font-family-base;
  }
}
