.driver-popover,
.driver-popover-description,
.driver-popover-title,
.driver-popover-next-btn,
.driver-popover-prev-btn,
.driver-popover-progress-text {
  // background-color: black;
  // color: white;
  font-family: Calibri, sans-serif !important;
}
.driver-popover-title {
  font-size: 24px !important;
}
.popover-feature .driver-popover-title {
  font-size: 17px !important;
}
.driver-popover-description {
  font-size: 16px !important;
}
.driver-popover-arrow {
  // border: 5px solid black; /* Change this color to your desired color */
}
.delete-popover-highlight {
  // border: 5px solid red; /* Change this color to your desired color */
}
// .driver-popover-arrow-side-right {
//   border-left-color: transparent;
//   border-top-color: transparent;
//   border-bottom-color: transparent;
// }
// .driver-popover-arrow-side-left {
//   border-right-color: transparent;
//   border-top-color: transparent;
//   border-bottom-color: transparent;
// }
// .driver-popover-arrow-side-top {
//   border-left-color: transparent;
//   border-right-color: transparent;
//   border-bottom-color: transparent;
// }
// .driver-popover-arrow-side-bottom {
//   border-left-color: transparent;
//   border-top-color: transparent;
//   border-right-color: transparent;
// }

.popover-feature .driver-popover-title {
  background-color: #00b847;
  display: inline-block !important;
  padding: 1px;
  border-radius: 81px;
  padding-inline: 11px;
  color: aliceblue;
  font-size: 16px;
  margin-bottom: 5px;
}
.driver-popover-prev-btn,
.driver-popover-next-btn {
  padding: 7px !important;
  font-size: 16px !important;
  background-color: $secondary !important;
  color: $white !important;
  text-shadow: none !important;
  transition: all 0.35s ease-in-out !important;

  &:hover {
    // background-color: #808b94 !important;
    background-color: #505962 !important;
  }
}

// .driver-popover-next-btn {
// }
