.about_hero_wrapper {
  background-image: url("@/assets/images/heroSection/about-hero.jpg");
  @extend %bg-image-properties;
  height: 300px;
  background-attachment: fixed;
  z-index: 2;
  .overlay {
    width: inherit;
    height: inherit;
    z-index: 1;
  }
}
