.login_bg {
  background-image: url("@/assets/images/login_registration/login_bg_image.avif");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   background-position: center;
  @extend %bg-image-properties;
}
.register_bg {
  background-image: url("@/assets/images/login_registration/register_bg_image.avif");
  @extend %bg-image-properties;
}
// .auth_right_section {
//   h1 {
//     // font-family: unset;
//   }
// }
.profile_wrapper {
  width: 70px;
  height: 70px;
  background-image: url("@/assets/images/login_registration/user.png");
  @extend %bg-image-properties;
  img {
    height: 100%;
    width: auto;
    object-fit: cover;
  }
  .label_overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    span {
      visibility: hidden;
      color: $white;
    }
    &:hover {
      // visibility: visible;
      background: $primary;
      opacity: 0.4;
      span {
        visibility: visible;
      }
    }
  }
}
.auth_right_section {
  width: 50%;
  @media (max-width: 992px) {
    width: 75%;
  }
  @media (max-width: 768px) {
    width: 85%;
  }
}
