.contact_us {
  width: 100%;
  @media (min-width: 576px) {
    width: 75%;
  }
  @media (min-width: 992px) {
    width: 50%;
  }
  h1 {
    @media (max-width: 576px) {
      font-size: 40px;
    }
  }
}
