// Footer styles goes here
.footer_wrapper {
  height: 300px;
  h3 {
    font-size: 40px;
  }
  @media (max-width: 1200px) {
    font-size: 10px;
    h3 {
      font-size: 20px !important;
    }
    .form-control {
      padding: 5px;
    }
    .join {
      padding: 5px;
    }
  }
}
