.main_header {
  z-index: 1000;
  .primary_close_btn {
    color: $light;
    transition: $primary-transition;
    &:hover {
      color: $danger;
    }
  }
}
// nav style
.nav-link {
  color: $white;
  &.active {
    color: $primary;
    &:focus {
      color: $primary;
    }
  }
}
// user
.user_wrapper {
  justify-content: end;
  &:hover {
    color: $primary;
  }
}
.min-w-100 {
  min-width: 100px;
}
// profile
.user_profile_wrapper {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;

  span .material-symbols-outlined {
    font-size: 30px;
  }
  img {
    width: 100%;
    height: auto;
  }
}
// profile
.profile_action_wrapper {
  bottom: -90px;
  z-index: 1000;
  li:not(:last-child) {
    border-bottom: 1px solid $gray;
  }
  li:hover {
    background-color: $gray;
  }
}
.close_mobile_navigation {
  display: none;
}
// hamburger icon
.hamburger_icon {
  @media (min-width: 768px) {
    display: none !important;
  }
  @media (max-width: 768px) {
    display: inline;
  }
}
// responsive navbar
.mobile_navigation {
  transition: all 0.35s ease-in-out;
  @media (min-width: 768px) {
    display: flex;
    transform: translateX(0);
  }
  @media (max-width: 768px) {
    position: fixed;
    transform: translateX(100%);
    // display: none;
    opacity: 0;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background: $dark;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .nav {
      flex-direction: column;
      text-align: center;
      font-size: 30px;
    }
    .profile_action {
      position: fixed !important;
      top: 20px;
      left: 20px;
    }
    .close_mobile_navigation {
      display: block;
      position: fixed;
      top: 20px;
      right: 20px;
    }
  }
}
@media (max-width: 768px) {
  .w-md-100 {
    width: 100%;
  }
}
// for toggle navbar
#toggleNav:checked ~ .mobile_navigation {
  display: flex;
  opacity: 1;
  transform: translateX(0);
}
