// Home Section
.hero-section {
  position: relative;
  background-image: url("~@/assets/images/heroSection/heroDesktopMode.jpg");
  @extend %bg-image-properties;
  background-attachment: fixed;
  // border: 2px solid red;
  height: 700px;
  @media (max-width: 576px) {
    background-attachment: unset;
  }
  // decrease the visibility of background-image
  .hero_overlay {
    position: absolute;
    background-color: black;
    opacity: 0.6;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .hero_content {
    z-index: 10;
    & > span {
      font-size: 28px;
      @media (max-width: 768px) {
        font-size: 18px;
      }
      @media (max-width: 576px) {
        font-size: 12px;
      }
      @media (max-width: 350px) {
        font-size: 8px;
      }
    }
    @media (max-width: 576px) {
      padding: 0 !important;
    }
  }

  h2 {
    @media (max-width: 768px) {
      font-size: 40px;
    }
    @media (max-width: 576px) {
      font-size: 28px;
    }
    @media (max-width: 350px) {
      font-size: 22px;
    }
  }
  @media (max-width: 576px) {
    height: 500px;
  }
  // hero button
  .order-button {
    @media (max-width: 350px) {
      padding: 10px !important;
    }
  }
}
