.home_main_wrapper {
  .items {
    height: 550px;
    @media (max-width: 576px) {
      height: 450px;
    }
  }
  .food {
    background-image: url("@/assets/images/mainSection/food.webp");
    @extend %bg-image-properties;
  }
  .drink {
    background-image: url("@/assets/images/mainSection/drink.webp");
    @extend %bg-image-properties;
  }
  // home  feed data
  .feed_data {
    width: 50%;
    @media (max-width: 576px) {
      padding: 20px;
      width: 100%;
    }
  }
}
