.order_hero_wrapper {
  background-image: url("@/assets/images/heroSection/order_hero.jpg");
  @extend %bg-image-properties;
  height: 300px;
  background-attachment: fixed;
  z-index: 2;
  @media (max-width: 576px) {
    background-attachment: unset;
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 15px;
    }
  }
  .overlay {
    background-color: black;
    opacity: 0.4;
    width: inherit;
    height: inherit;
    z-index: 1;
  }
  .hero_data {
    @media (max-width: 768px) {
      width: 80%;
    }
  }
}
