.product_card {
  cursor: pointer;
}
.product_image_wrapper {
  height: 250px;
  overflow: hidden;
  width: 100%;
  @media (max-width: 576px) {
    height: 200px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.product_details {
  height: 350px;
  @media (max-width: 576px) {
    height: 200px;
  }
}
