.product_details_wrapper {
  z-index: 10000;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart_details {
  width: 500px;
}
// /* Firefox */
// input[type="number"] {
//   -moz-appearance: textfield;
// }
.details_wrapper {
  width: 50%;
  @media (max-width: 992px) {
    width: 75%;
  }
  @media (max-width: 576px) {
    width: 85%;
    h3 {
      font-size: 40px;
    }
  }
}
